/* 
font-family: 'Bebas Neue', sans-serif; 400
font-family: "Lexend Deca", sans-serif; 300 400
 */
@font-face {
  font-family: "Klender DEMO";
  src: url("fonts/KlenderDEMORegular.eot?#iefix") format("embedded-opentype"),
    url("fonts/KlenderDEMORegular.woff") format("woff"),
    url("fonts/KlenderDEMORegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --blue: #00d0fd;
  --gray: #7d7d7d;
  --drk: #490d00;
  --red: #e1094d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:after,
:before {
  pointer-events: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  font-weight: normal;
  font-style: normal;
  color: var(--gray);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  height: 100vh;
  background: var(--white);
  overflow: hidden;
}

b,
strong {
  font-weight: 700;
}

p {
  margin: 0 0 22px 0;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 25px 0;
  padding: 0;
  color: inherit;
  font-weight: 400;
  font-family: "Bebas Neue";
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

h1 {
  font-weight: 700;
  font-size: 90px;
  line-height: 1;
}

h2,
.cmn_h2 {
  font-size: 54px;
  line-height: 1.2;
}

h3 {
  font-weight: 400;
  font-size: 38px;
  line-height: 1;
}

h4 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.1;
}

h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  outline: none !important;
  color: var(--drk);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

a:hover {
  color: var(--red);
}

img {
  max-width: 100%;
}

figure {
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

ul li {
  list-style: none;
}

i,
span {
  display: inline-block;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
select,
input[type="submit"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--white);
  border: 1px solid var(--white);
  color: var(--gray);
  box-shadow: none;
  font-size: 15px;
  font-weight: 400;
  outline: none !important;
  padding: 15px 30px;
  width: 100%;
  height: 60px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

textarea {
  background-color: var(--white);
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid var(--white);
  box-shadow: none;
  padding: 15px 30px;
  width: 100%;
  height: 145px;
  color: var(--gray);
  font-size: 15px;
  outline: none !important;
  resize: none;
}

select {
  padding: 0 30px;
  background: url(images/sort-down.svg) no-repeat calc(100% - 16px) center
    transparent;
  background-size: 18px;
  padding-right: 50px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--drk);
}

input[type="submit"] {
  background: var(--drk);
  color: var(--white);
  height: 60px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background: var(--blue);
}

::-webkit-input-placeholder {
  color: var(--gray);
}

:-ms-input-placeholder {
  color: var(--gray);
}

::-moz-placeholder {
  color: var(--gray);
}

:-moz-placeholder {
  color: var(--gray);
}

/* images alignment for wordpress content pages */
.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  float: none;
  clear: both;
}

/* custom checkbox */

.form_input_check label {
  position: relative;
  margin: 0;
  padding-left: 40px;
  display: inline-block;
}

.form_input_check label span {
  margin: 0;
  padding: 0;
}

.form_input_check label input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.form_input_check label input[type="checkbox"] + span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 22px;
  height: 22px;
  border: 1px solid #3e3e42;
  background: transparent;
}

.form_input_check label input[type="checkbox"] + span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 22px;
  height: 22px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: url(images/tick.svg) no-repeat center center;
  background-size: 15px;
}

.form_input_check label input[type="checkbox"]:not(:checked) + span::after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* .form_input_check input[type="checkbox"]:checked + span::before {
      
    } */

.form_input_check label input[type="checkbox"]:checked + span:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* custom radio */

.form_input_radio label {
  position: relative;
  margin: 0;
  padding-left: 30px;
  display: inline-block;
}

.form_input_radio label span {
  margin: 0;
  padding: 0;
}

.form_input_radio label input[type="radio"] {
  visibility: hidden;
  display: none;
}

.form_input_radio label input[type="radio"] + span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 22px;
  height: 22px;
  border: 2px solid #000000;
  border-radius: 100%;
  background: var(--white);
}

.form_input_radio label input[type="radio"] + span::after {
  content: "";
  width: 12px;
  height: 12px;
  background: #4b0049;
  position: absolute;
  top: 6px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form_input_radio label input[type="radio"]:not(:checked) + span::after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* .form_input_radio input[type="radio"]:checked + span::before {
      
    } */

.form_input_radio label input[type="radio"]:checked + span:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* custom radio end */

/* back to top */
#scroll {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  width: 55px;
  height: 55px;
  background-color: var(--blue);
  display: none;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  line-height: 68px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  z-index: 9;
}
#scroll:hover {
  background: var(--drk);
}
#scroll i {
  color: var(--white);
  font-size: 44px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

#scroll:hover i {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

/* navbar*/
.navbar-brand {
  padding: 0;
  margin: 0;
  width: 272px;
  display: inline-block;
}
.navbar-brand svg,
.navbar-brand img {
  width: 100%;
}
.navbar {
  background: none;
  margin: 0;
  padding: 0;
  min-height: inherit;
  height: inherit;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin-top: 25px;
  opacity: 0;
  font-family: "Bebas Neue", sans-serif;
}
.navbar-nav li {
  position: relative;
  list-style: none;
}

.navbar-nav > li {
  margin: 0 15px;
  padding: 10px 0;
  position: relative;
}

.navbar-nav > li:last-child {
  margin-right: 0;
}

.navbar-nav > li:first-child {
  margin-left: 0;
}

.navbar-nav > li > a {
  color: var(--white);
  font-size: 21px;
  line-height: 1.2;
  position: relative;
  font-weight: normal;
  text-transform: uppercase;
  padding: 10px 0;
}

.navbar-nav > li > a:after,
.navbar-nav > li > a:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--blue);
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: left center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-nav > li > a:before {
  bottom: auto;
  top: 0px;
  transform-origin: right center;
}

.navbar-nav > li.current-menu-item > a,
.navbar-nav > li > a:hover,
.navbar-nav > li.menu-item-has-children:hover > a {
  color: var(--blue);
}

.navbar-nav > li.current-menu-item > a:after,
.navbar-nav > li > a:hover:after,
.navbar-nav > li.menu-item-has-children:hover > a:after,
.navbar-nav > li.current-menu-item > a:before,
.navbar-nav > li > a:hover:before,
.navbar-nav > li.menu-item-has-children:hover > a:before {
  transform: translateX(-50%) scaleX(1);
}

/* navbar submenu*/
.sub-menu {
  background: var(--white);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 140px;
  padding: 0;
}

.sub-menu > li > a {
  color: var(--drk);
  display: block;
  width: 100%;
  padding: 6px 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.sub-menu > li {
  width: 100%;
  display: block;
}

.sub-menu > li > a:hover,
.sub-menu > li.menu-item-has-children:hover > a,
.sub-menu > li.current-menu-item > a {
  background: var(--blue);
  color: var(--white);
}

.navbar-nav > li:last-child > .sub-menu {
  right: 0;
  left: inherit;
  padding: 0;
}

/* 2nd level submenu */
.navbar-nav > li > .sub-menu .sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
}

/* for push-menu */
.navbar-collapse .navbar-toggler {
  display: none;
}
#navoverlay {
  display: block;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  margin: 0;
  padding: 0 !important;
  z-index: 99;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}
.nav_btns_group {
  display: flex;
  align-items: center;
  margin-right: -15px;
  color: var(--white);
  margin-left: 30px;
}
.nav_btns_group > li {
  padding: 0 15px;
  position: relative;
}
.nav_btns_group a {
  position: relative;
  color: inherit;
}
.nav_btns_group a:hover {
  color: var(--blue);
}
.nav_btns_group svg {
  width: 28px;
  height: auto;
}
.nav_cart_btn span {
  position: absolute;
  top: 0;
  right: -7px;
  width: 17px;
  height: 17px;
  background-color: var(--blue);
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 60%;
}
.nav_top {
  height: 50px;
  padding-top: 17px;
  text-align: center;
  color: var(--drk);
  position: relative;
  background-color: #00d0fd;
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
  position: relative;
}
.nav_top:before {
  content: "";
  position: absolute;
  height: 10px;
  bottom: -5px;
  width: 100%;
  background-color: #00d0fd;
  display: block;
}
.nav_top .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 100%;
  transform-origin: center center;
}
.main-head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: 1s transform ease;
  transform: translateY(-110%);
  pointer-events: none;
}
.main-head.show.active {
  transform: translateY(0);
  pointer-events: all;
}
/* for push-menu end*/

/*--loader--*/
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #faff05;
  background: linear-gradient(180deg, #faff05 0%, #ffb800 100%);
}
#loader > *,
#loader.hide {
  pointer-events: none;
}
#loader.hide {
  z-index: 999;
}
.asLoader {
  max-width: 250px;
}
.loader_txt {
  opacity: 0;
  font-family: "Klender DEMO";
  font-size: 5vw;
  color: var(--white);
  letter-spacing: -0.1em;
  perspective: 500px;
}
#loader img {
  transition: none;
}
.loader_txt_inner {
  width: 25vw;
  height: auto;
}
/*--end loader--*/
.pg_content {
  z-index: auto;
  opacity: 0;
  pointer-events: none;
}
.pg_content.loaded {
  pointer-events: all;
}

/*! locomotive-scroll v3.1.7 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth,
body {
  overflow: hidden;
}

html.has-scroll-dragging,
html.has-scroll-dragging * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 8px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s, background 0.3s;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  z-index: 110;
  mix-blend-mode: difference;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.05);
}

.has-scroll-dragging .c-scrollbar {
  background-color: rgba(255, 255, 255, 0.2);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
  width: 6px;
  margin: 1px;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background-color: rgba(255, 255, 255, 0.4);
}
/*--end locomotive scrollbar--*/

/* ----------------------------
mouse cursor styles
--------------------------- */
.node {
  pointer-events: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  transition: opacity 300ms linear, transform 300ms linear,
    background-color 300ms ease, height 300ms ease, width 300ms ease;
  -webkit-transition: opacity 300ms linear, transform 300ms linear,
    background-color 300ms ease, height 300ms ease, width 300ms ease;
  -moz-transition: opacity 300ms linear, transform 300ms linear,
    background-color 300ms ease, height 300ms ease, width 300ms ease;
  -ms-transition: opacity 300ms linear, transform 300ms linear,
    background-color 300ms ease, height 300ms ease, width 300ms ease;
  -o-transition: opacity 300ms linear, transform 300ms linear,
    background-color 300ms ease, height 300ms ease, width 300ms ease;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  mix-blend-mode: difference;
  font-size: 14px;
  color: #000;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

html.removePointer,
html.removePointer * {
  cursor: none !important;
}

.node.view {
  width: 150px;
  height: 150px;
  border-radius: 10vw;
  -webkit-border-radius: 10vw;
  -moz-border-radius: 10vw;
  -ms-border-radius: 10vw;
  -o-border-radius: 10vw;
  mix-blend-mode: normal;
}
/*--end mouse--*/
.swiper {
  width: 100%;
  height: 100%;
}

.cmn-gap {
  padding: 60px 0;
}
.home_banner {
  color: var(--white);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  overflow: hidden;
  pointer-events: none;
}
.banner_bg,
.white_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}
.banner_bg {
  background: radial-gradient(
    61.25% 61.25% at 50% 50%,
    #ff0059 5.14%,
    #72001d 86.22%
  );
}
.white_bg {
  opacity: 0;
  background-color: var(--white);
}
.home_banner_inner {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  perspective: 500px;
  opacity: 0;
}
.home_banner_inner img {
  width: 100%;
  object-fit: contain;
  max-width: none;
  transition: none;
}
.home_banner_inner .container {
  position: relative;
  perspective: 500px;
  z-index: 2;
}
.particle_box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  perspective: 500px;
  pointer-events: none;
  max-width: 100%;
  object-fit: cover;
}
.particle_box > div {
  background: var(--white);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  box-shadow: inset 2px 2px 5px 0 rgb(225 225 225 / 50%);
}
.bg_pos {
  position: absolute;
  z-index: 1;
  opacity: 0.3;
}
.bg_pos img {
  width: 100%;
  object-fit: contain;
}
.bgl1 {
  left: 0;
  top: 50%;
  transform: translate(-30%, -50%);
  width: 20vw;
}
.bgc1 {
  top: 58%;
  left: 47%;
  transform: translate(-50%, -50%);
  max-width: 850px;
  width: 100%;
}
.bgr1 {
  right: 0;
  top: 55%;
  transform: translate(30%, -50%);
  width: 22vw;
}
.all_text {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 0;
  justify-content: center;
  text-align: center;
  font-size: 210px;
  font-weight: 400;
  letter-spacing: -0.03em;
  margin-top: 22%;
  font-family: "Klender DEMO";
}
.all_text > span {
  display: inline-block;
  position: relative;
  z-index: 4;
  text-shadow: -10px 25px 15px rgba(39, 20, 0, 0.5);
  filter: drop-shadow(2px 4px 50px rgba(39, 20, 0, 0.3));
}
.all_text > span:nth-child(1) {
  z-index: 2;
}
.all_text > span:nth-child(2) {
  z-index: 5;
}
.all_text > span:nth-child(3) {
  z-index: 2;
}
.all_text > span:nth-child(4) {
  z-index: -1;
}
.all_text > span:nth-child(5) {
  z-index: 2;
}
.all_text > span:nth-child(6) {
  z-index: 2;
}
.all_text > span:nth-child(7) {
  z-index: 5;
}
.all_text > span:nth-child(8) {
  z-index: 1;
}
.all_text > span:nth-child(9) {
  z-index: 5;
}
.home_banner_inner .container > div {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.all_back {
  margin-top: -88px;
  width: 615px;
  margin-left: -62px;
}
.snut {
  margin-top: 197px;
  margin-left: -216px;
  width: 208px;
  z-index: 3 !important;
}
.crm {
  margin-top: 250px;
  width: 524px;
  margin-left: 17px;
}
.lf {
  margin-left: 62px;
  margin-top: 0;
  width: 356px;
  z-index: 3 !important;
}
.cnd {
  margin-left: 256px;
  margin-top: 171px;
  width: 199px;
}
.all_nut1 {
  width: 205px;
  margin-left: -501px;
  margin-top: -22px;
}
.all_nut2 {
  width: 148px;
  z-index: 4 !important;
  margin-left: -296px;
  margin-top: 45px;
}
.all_nut3 {
  width: 160px;
  margin-left: 410px;
  margin-top: -90px;
}
.rt_fl1 {
  position: absolute;
  right: -6%;
  top: 40%;
  z-index: 2;
  transform: translateY(-50%);
  width: 19.5vw;
}
.rt_fl2 {
  position: absolute;
  right: -2%;
  top: 80%;
  z-index: 2;
  transform: translateY(-50%);
  width: 19.3vw;
}

.lt_fl1 {
  position: absolute;
  left: -6%;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  width: 18.5vw;
}
.lt_fl2 {
  position: absolute;
  left: -2%;
  top: 80%;
  z-index: 2;
  transform: translateY(-50%);
  width: 12.5vw;
}
.cnb {
  max-width: 258px;
  margin-left: -205px;
  margin-top: 0;
}
.all_cc {
  z-index: -1 !important;
  margin-top: -22px;
  margin-left: -57px;
  width: 820px;
}
.all_cc2 {
  margin-left: -45px;
  width: 367px;
  z-index: -1 !important;
  margin-top: -45px;
}
.all_back2 {
  margin-left: -262px;
  width: 282px;
  margin-top: -125px;
  z-index: 1 !important;
}
.all_cc3 {
  width: 408px;
  margin-left: -80px;
  margin-top: 57px;
}
.all_cc3 img {
  opacity: 0.3;
}

.center_banner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pin-spacer.center_pin,
.pin-spacer.full_slider_wave_pin,
.pin-spacer.all_bg_pin {
  pointer-events: none;
}
.center_move {
  transform-origin: bottom center;
}
.scrollme {
  color: var(--white);
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.4s ease;
  margin-left: -10px;
  margin-top: -10px;
  padding: 10px;
}
.scrollme.show {
  transform: translateX(-50%);
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}
.scrollme svg {
  width: 15px;
  height: 15px;
}
.center_banner img {
  width: 30vw;
  max-width: 480px;
  transition: none;
}
.center_banner .floating img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}
.floating.active {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.floating:after {
  content: "";
  position: absolute;
  top: 70%;
  left: 0;
  width: 130%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url(images/shadow.png);
  transition: 1s ease;
  opacity: 0;
  z-index: -1;
}
.floating.active:after {
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  opacity: 1;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.bgl1.bg_pos img {
  animation-name: wave;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: left bottom;
}
@keyframes wave {
  15% {
    transform: rotate(1.3deg);
  }
  50% {
    transform: rotate(-1.2deg);
  }
  0%,
  100% {
    transform: rotate(0);
  }
}
.bgr1.bg_pos img {
  animation-name: wave;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: right bottom;
}
.bgc1.bg_pos img {
  animation-name: scale;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: center center;
}

@keyframes scale {
  50% {
    transform: scaleX(1.05) translateZ(10px);
  }
  0%,
  100% {
    transform: scaleX(1) translateZ(0);
  }
}
.after_banner {
  position: relative;
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.header {
  position: relative;
  margin-bottom: 35px;
  color: #490d00;
}
.header.style {
  margin-bottom: 42px;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  font-style: normal;
}
.header.white {
  color: var(--white);
}

.header h2 {
  color: inherit;
  font-size: 68px;
  position: relative;
  z-index: 2;
}
.header.style .header_float ~ h2 {
  margin-top: -0.85em;
}
.header_float {
  position: relative;
  font-size: 138px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  background: linear-gradient(
    180deg,
    rgba(244, 244, 244) 0%,
    rgba(239, 239, 239, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: 1;
  display: block;
  font-family: "Bebas Neue", sans-serif;
}
.after_banner .header_float {
  letter-spacing: -0.02em;
}
.full_slider_sec {
  position: relative;
}
.all_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.full_slider_inner_wave {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}
.sl_wave {
  width: 100%;
  position: absolute;
  left: 0;
  height: 60px;
  bottom: 0px;
  z-index: 15;
}
.sl_wave.up {
  bottom: auto;
  top: 0px;
}
.reverse_wave {
  transform: rotate(180deg);
}
.sl_wave svg {
  width: 100%;
  height: 100%;
}

.full_slider_wrapper {
  position: relative;
}
.sl_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: opacity 0.5s ease;
  transition-delay: 0.45s;
}
.sl_bg.active {
  opacity: 1 !important;
  transition-delay: 0s;
}
.full_sl_item {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  transform-origin: 50% 50%;
  overflow: hidden;
  padding: 60px 0;
}
.full_sl_item_inner {
  display: flex;
  align-items: center;
  color: var(--white);
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  transition: transform 1.5s ease;
  transform: translateY(110%);
}
.full_sl_item.up .full_sl_item_inner {
  transform: translateY(-110%);
}
.full_sl_item.down .full_sl_item_inner {
  transform: translateY(110%);
}
.full_sl_item.active .full_sl_item_inner {
  transform: none;
}
.lft_col .header h2 {
  color: var(--white);
  line-height: 1;
}
.lft_col p {
  color: var(--white);
}
.lft_col figure {
  margin: 30px 0;
  display: flex;
  align-items: center;
}
.lft_col figure img {
  width: 70px;
}
.lft_col figure span {
  padding-left: 15px;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 28px;
}
.sl_float {
  position: absolute;
  left: 0;
  width: 20vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sl_float img {
  width: 100%;
  max-width: 280px;
}
.lft_col {
  max-width: 40%;
  padding: 80px 0;
}
.rt_col {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 7;
  justify-content: flex-end;
}
.rt_col img {
  width: 100%;
  max-width: 900px;
}
.box_inner {
  position: relative;
}
.box_inner h3 {
  color: var(--drk);
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.box_inner figure {
  max-width: 100px;
  display: block;
  margin-bottom: 15px;
}
.box_inner figure img {
  width: 100%;
}
.after_banner_inner {
  display: flex;
  flex-direction: column;
  position: relative;
}
.after_banner_inner .header h2 {
  z-index: 10;
}
.pr_slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60%;
  grid-row-gap: 5%;
  position: relative;
  width: 100%;
  padding-bottom: 5%;
  z-index: 10;
}
.banner_top {
  position: relative;
  height: 100vh;
}
.center_move.glow .floating {
  animation: none;
}
.center_move.glow .floating:after {
  opacity: 0;
}
.center_move.glow:after {
  background-image: url(images/gl2.png);
  content: "";
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  z-index: -1;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin-top: 15%;
}
.pr_box {
  position: relative;
  opacity: 0;
}
.pr_box:after,
.pr_box:before {
  pointer-events: none;
  display: block;
  transition: opacity 0.5s ease;
}
.dot_end {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ca382f;
  position: absolute;
  top: 15%;
  left: 80%;
  opacity: 0;
}
.box2 .dot_end,
.box4 .dot_end {
  left: -15%;
}

.dot_start {
  display: inline-block;
  height: 10px;
  width: 10px;
  position: absolute;
  z-index: 7;
  opacity: 0;
}
.dot_start:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.6);
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 1);
  }
  100% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
}
.box1 .dot_start {
  top: 60%;
  left: 200%;
}
.box1:before {
  content: "";
  position: absolute;
  top: 15%;
  left: 80%;
  width: 70%;
  height: calc(60% - 15%);
  margin: 5px;
  border-top: 1px dashed rgba(73, 13, 0, 0.6);
  border-right: 1px dashed rgba(73, 13, 0, 0.6);
}
.box1:after {
  content: "";
  position: absolute;
  top: calc(60% + 5px);
  left: 152%;
  width: 50%;
  height: 1px;
  border-top: 1px dashed rgba(73, 13, 0, 0.6);
}
.box2 .dot_start {
  top: 60%;
  left: -95%;
}
.box2:before {
  content: "";
  position: absolute;
  top: 15%;
  left: -45%;
  width: 30%;
  height: calc(60% - 15%);
  margin: 5px 0 0;
  border-top: 1px dashed rgba(73, 13, 0, 0.6);
  border-left: 1px dashed rgba(73, 13, 0, 0.6);
}
.box2:after {
  content: "";
  position: absolute;
  top: calc(60% + 5px);
  left: -95%;
  width: 50%;
  height: 1px;
  border-top: 1px dashed rgba(73, 13, 0, 0.6);
}
.box3 .dot_start {
  top: -15%;
  left: 195%;
}
.box3:before {
  content: "";
  position: absolute;
  bottom: 85%;
  left: 80%;
  width: 55%;
  height: calc(15% + 15%);
  margin: 0 5px -5px;
  border-bottom: 1px dashed rgba(73, 13, 0, 0.6);
  border-right: 1px dashed rgba(73, 13, 0, 0.6);
}
.box3:after {
  content: "";
  position: absolute;
  top: calc(-15% + 5px);
  left: 137%;
  width: 60%;
  height: 1px;
  border-top: 1px dashed rgba(73, 13, 0, 0.6);
}
.box4 .dot_start {
  top: -25%;
  left: -80%;
}
.box4:before {
  content: "";
  position: absolute;
  bottom: 85%;
  left: -40%;
  width: 25%;
  height: 40%;
  margin: 0 0 -5px 5px;
  border-bottom: 1px dashed rgba(73, 13, 0, 0.6);
  border-left: 1px dashed rgba(73, 13, 0, 0.6);
}
.box4:after {
  content: "";
  position: absolute;
  top: calc(-25% + 5px);
  left: -78%;
  width: 40%;
  height: 1px;
  border-top: 1px dashed rgba(73, 13, 0, 0.6);
}
.pr_box.active:after,
.pr_box.active:before {
  opacity: 1;
}
[data-split] {
  overflow: hidden;
}
.common_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 154px;
  border-radius: 80px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  line-height: normal;
  padding: 17px 15px 13px;
  position: relative;
  overflow: hidden;
  box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.25);
  background-color: var(--drk);
  color: var(--white);
}
.common_btn:hover {
  background-color: var(--white);
  color: var(--drk);

  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.35);
}
.common_btn.alter {
  background-color: var(--white);
  color: var(--drk);
}
.common_btn.alter:hover {
  background-color: var(--drk);
  color: var(--white);
}
.lft_col .common_btn {
  margin-top: 30px;
}
.after_banner .btn_box {
  text-align: center;
  margin-top: -55px;
  position: relative;
  z-index: 12;
}

.full_sl_item.active .sl_float {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.blog_sec {
  background-color: var(--white);
  padding: 60px 0;
}
.blog_sec .header.style {
  text-align: left;
  padding-right: 150px;
}
.blog_sec .header.style .common_btn {
  position: absolute;
  bottom: 1em;
  right: 0;
}
.blog_img {
  overflow: hidden;
  border-radius: 20px;
  background: #d9d9d9;
}
.blog_img img {
  width: 100%;
  object-fit: cover;
}
.blog_content {
  padding-top: 30px;
  width: 100%;
}
.dt {
  color: var(--drk);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.dt img {
  width: 20px;
  margin-right: 10px;
}
.blog_content h4 {
  margin-bottom: 20px;
}
.blog_content h4,
.blog_content a {
  color: var(--drk);
}
.blog_content a:hover h4 {
  opacity: 0.8;
}
.blog_post.list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.blog_post.list + .blog_post.list {
  margin-top: 30px;
}
.blog_post.list .blog_img {
  max-width: 47.25%;
}
.blog_post.list .blog_content {
  max-width: 52.75%;
  padding-top: 0;
  padding-left: 20px;
  line-height: 1.25;
}
.blog_post.list .blog_content h4 {
  margin-bottom: 5px;
  line-height: 1.1;
}

.blog_all > .row {
  margin-left: -20px;
  margin-right: -20px;
}
.blog_all > .row > div {
  padding-left: 20px;
  padding-right: 20px;
}
.blog_sec-inner {
  position: relative;
}
.blog_fig1 {
  position: absolute;
  z-index: 1;
  top: 8%;
  left: -7%;
  max-width: 240px;
}
.blog_fig1 img {
  animation-name: wave;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
.blog_fig2 {
  position: absolute;
  z-index: 1;
  right: 0;
  top: -60px;
  max-width: 240px;
  overflow: hidden;
}
.blog_fig2 img {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 15%;
}
.blog_fig1 img,
.blog_fig2 img,
.blog_fig3 img {
  width: 100%;
}
.blog_fig3 {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  max-width: 320px;
  overflow: hidden;
}
.blog_fig3 img {
  animation-name: wave;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 50%;
}
.whyus_sec {
  position: relative;
  background: #85ccff;
  background: radial-gradient(circle, #00d0fd 25%, #85ccff 100%);
}
.whyus_sec .header h2 {
  margin-bottom: 0;
}
.whyus_row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.whyus_row > div {
  width: 33.33%;
  padding: 0 20px;
}
.whyus_img figure {
  position: relative;
  height: 0;
  width: 0;
  padding-left: 68.5%;
  padding-top: 68.5%;
  background-color: var(--white);
  border-radius: 50%;
  z-index: 1;
  display: inline-block;
  margin-bottom: -30px;
  filter: drop-shadow(0px 50px 10px rgba(0, 0, 0, 0.4));
}
.whyus_img figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 7px solid var(--white);
  transition: 0.3s ease-in-out;
}
.whyus_img figure span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  transform-origin: 50% 50%;
  background: rgba(255, 255, 255, 0.3);
}
.whyus_img figure span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-85%, -75%) scale(0.45);
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  z-index: -2;
  transition: transform 0.4s ease;
}
.whyus_fig {
  margin-top: -50%;
  position: relative;
  z-index: 2;
  display: inline-block;
  height: 195px;
}
.whyus_fig img {
  width: 100%;
}
.whyus_img {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.whyus_inner {
  text-align: center;
  color: var(--white);
}
.whyus_content h3 {
  margin-bottom: 20px;
}

.whyus_inner:hover .whyus_img figure span:before {
  transform: translate(-50%, -50%) scale(1.15);
}
.whyus_inner:hover .whyus_img figure img,
.whyus_inner:hover .whyus_img figure span,
.whyus_inner:hover .whyus_img figure span:before {
  box-shadow: 0 0 20px 0 rgba(55, 125, 145, 0.2);
}
.whyus_inner:hover .whyus_img figure img {
  border: 3px solid var(--white);
}
.whyus_sec .header {
  margin-bottom: 65px;
}
.whyus_sec .header_float {
  background: linear-gradient(
    180deg,
    rgb(244 244 244 / 45%) 0%,
    rgba(239, 239, 239, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.whyus_fig1 {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 8%;
  max-width: 90px;
}
.whyus_fig1 img {
  animation-name: wave;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
.whyus_fig2 {
  position: absolute;
  z-index: 16;
  left: 0;
  top: -10%;
  max-width: 325px;
  overflow: hidden;
}
.whyus_fig2 img {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.whyus_fig3 {
  position: absolute;
  z-index: 16;
  right: 0;
  bottom: 30%;
  max-width: 325px;
  overflow: hidden;
}
.whyus_fig3 img {
  animation-name: wave;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30%;
}
.whyus_fig1 img,
.whyus_fig2 img,
.whyus_fig3 img {
  width: 100%;
}

.gallery_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.gallery_box {
  padding: 10px;
  position: relative;
  width: 100%;
  max-width: 20%;
}
.gallery_box a {
  border-radius: 20px;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
}
.gallery_box img {
  width: 100%;
}
.gallery_box:nth-child(even) {
  transform: translateY(-70px);
}
.gallery_list {
  padding-top: 70px;
}
.gallery_sec .header {
  margin-bottom: 60px;
}

.aboutUs_sec {
  background-color: rgb(237, 21, 87);
  background-image: radial-gradient(
    circle,
    rgba(237, 21, 87, 1) 0%,
    rgba(105, 0, 13, 1) 150%
  );
  position: relative;
  overflow: hidden;
}
.parallax_bg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  pointer-events: none;
}
.about_inner {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.aboutUs_sec .header {
  margin-bottom: 10px;
  padding-top: 100px;
}
.aboutUs_sec .header:before {
  content: "";
  background-image: url(images/quote.svg);
  height: 140px;
  width: 190px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.review_item {
  color: var(--white);
  text-align: center;
}
.review_item p {
  margin-bottom: 10px;
}
.review_item label {
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  margin: 0;
}
.sl_btn_wrapper {
  position: relative;
  text-align: center;
  margin-top: 33px;
}
.review_slider {
  padding-bottom: 70px;
}
.sl_btn_wrapper > div {
  position: static;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.sl_btn_wrapper > div:after {
  content: none;
}
.sl_btn_wrapper svg {
  width: 100%;
  height: auto;
}
.sl_btn_wrapper > div:hover {
  background-color: var(--white);
  color: #ed1557;
}

/*---*/
.aboutUs_fig1 {
  position: absolute;
  z-index: 1;
  top: 8%;
  right: 25%;
  max-width: 100px;
}
.aboutUs_fig1 img {
  animation-name: wave;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
.aboutUs_fig2 {
  position: absolute;
  z-index: 1;
  left: 6%;
  bottom: 30%;
  max-width: 170px;
  overflow: hidden;
}
.aboutUs_fig3 {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 2%;
  max-width: 185px;
  overflow: hidden;
}
.aboutUs_fig4 {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  max-width: 360px;
  overflow: hidden;
}
.aboutUs_fig4 img {
  animation-name: wave;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
.aboutUs_fig5 {
  position: absolute;
  z-index: 1;
  right: -10px;
  bottom: 0;
  max-width: 370px;
  overflow: hidden;
}
.aboutUs_fig5 img {
  animation-name: wave;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
.aboutUs_fig1 img,
.aboutUs_fig2 img,
.aboutUs_fig3 img,
.aboutUs_fig4 img,
.aboutUs_fig5 img {
  width: 100%;
}

.footer {
  background-color: #00d0fd;
  color: var(--drk);
}
.ft_copyright {
  padding: 32px 0;
  border-top: 1px solid #fff;
  text-align: center;
}
.ft_copyright p {
  margin-bottom: 0;
}
.fooer_inner {
  padding: 85px 0 30px;
}

.ft_logo {
  max-width: 440px;
  width: 100%;
  display: block;
  margin: 0 auto 25px;
}
.ft_logo img {
  width: 100%;
}

.ft_nav li {
  display: inline-block;
  font-size: 21px;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
}
.ft_nav li + li {
  margin-left: 55px;
}
.ft_nav li a:hover {
  color: var(--white);
}
.ft_nav,
.ft_social {
  display: block;
  text-align: center;
}
.ft_social a {
  color: var(--drk);
}
.ft_social img,
.ft_social svg {
  width: 40px;
  height: auto;
}
.ft_social a:hover {
  color: var(--white);
}
.ft_social a:hover img {
  filter: brightness(100);
}
.ft_social li {
  display: inline-block;
}
.ft_social li + li {
  margin-left: 32px;
}
.ft_social {
  margin-top: 35px;
}
.newsletter {
  max-width: 950px;
  margin: -105px auto 0;
  position: relative;
  z-index: 16;
}
.newsletter_inner {
  background-color: var(--white);
  padding: 34px 30px 42px;
  border-radius: 20px;
  position: relative;
  z-index: 2;
}
.ft_label {
  position: absolute;
  top: 25%;
  right: -22%;
  width: 365px;
  z-index: -1;
  pointer-events: none;
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.ft_label img {
  width: 100%;
}
.newsletter_form {
  max-width: 388px;
  margin: 0 auto;
  position: relative;
}
.newsletter_form input[type="text"] {
  height: 60px;
  width: 100%;
  border-radius: 35px;
  background-color: #f4f4f4;
}
.newsletter_form input[type="submit"] {
  height: 48px;
  width: 48px;
  padding: 0;
  margin: 6px;
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(images/newsltr.svg);
  border: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.newsletter_form input[type="submit"]:hover {
  background-image: url(images/newsltr_hover.svg);
}
.newsletter .header {
  margin-bottom: 22px;
}

.lottie {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateY(-2%);
  transform-origin: center center;
  opacity: 0;
}
.lottie.show {
  opacity: 1 !important;
}
.scale.hidden {
  opacity: 0 !important;
}

/* ========== responsive css =========== */

@media (min-width: 1025px) {
  /* navbar*/
  .navbar-nav .clickD {
    display: none;
  }
  .navbar-nav li.menu-item-has-children:hover > .sub-menu {
    display: block;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0 12px;
  }
}
@media (max-width: 1600px) {
  .header h2 {
    font-size: 60px;
  }
  .box_inner figure {
    max-width: 80px;
    margin-bottom: 10px;
  }
  .box_inner h3 {
    font-size: 26px;
    margin-bottom: 8px;
  }
  .pr_slider {
    grid-row-gap: 10%;
  }
  .sl_wave {
    bottom: -30px;
  }
  .sl_wave.up {
    top: -30px;
  }
  .full_slider_sec {
    margin: 30px 0;
  }
}

@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 1024px) {
  /* navbar*/
  .navbar-nav .clickD {
    position: absolute;
    right: 0;
    top: 17px;
    width: 20px;
    height: 20px;
    background: url(images/sort-down.svg) center center no-repeat;
    display: block;
    background-size: 10px;
    cursor: pointer;
  }
  .navbar-nav .clickD.toggled {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .sub-menu > li.menu-item-has-children .clickD {
    top: 8px;
    right: 5px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .sub-menu > li.menu-item-has-children .clickD.toggled {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .navbar-nav > li.menu-item-has-children {
    padding-right: 20px;
  }
  .sub-menu > li.menu-item-has-children > a {
    padding-right: 20px;
  }

  .sub-menu.show {
    display: block;
  }

  .navbar-nav > li {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navbar-nav > li.current-menu-item > a:after,
  .navbar-nav > li > a:after,
  .navbar-nav > li.menu-item-has-children > a:after {
    width: 100%;
    opacity: 0;
  }

  .navbar-nav > li.current-menu-item > a:after,
  .navbar-nav > li > a:hover:after,
  .navbar-nav > li.menu-item-has-children:hover > a:after {
    width: 100%;
    opacity: 1;
  }

  /* navbar end*/
}

@media (max-width: 991px) {
  /* navbar*/
  .navbar-toggler {
    position: relative;
    width: 33px;
    margin-left: auto;
    height: 28px;
    padding: 0;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
  .stick,
  .stick:after,
  .stick:before {
    width: 30px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    top: auto;
    transition: all 0.6s;
    border-radius: 5px;
  }
  .stick:before {
    content: "";
    top: -10px;
    left: 0;
  }
  .stick:after {
    content: "";
    top: 10px;
    left: 0;
  }
  .stick.open {
    transform: translateX(-50px);
    background: transparent;
  }
  .stick.open:before {
    transform: rotate(45deg) translate(42px, -28px);
    left: 2px;
  }
  .stick.open:after {
    transform: rotate(-45deg) translate(42px, 28px);
    left: 2px;
  }

  .navbar-nav .clickD {
    top: 8px;
    right: 10px !important;
    -webkit-transform: rotate(0) !important;
    transform: rotate(0) !important;
  }
  .navbar-nav .clickD.toggled {
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
  }
  .sub-menu,
  .navbar-nav > li > .sub-menu .sub-menu {
    position: relative;
    width: 100%;
    left: inherit;
    top: inherit;
    border: none;
    right: inherit;
  }
  .navbar-nav > li.menu-item-has-children {
    padding-right: 0;
  }
  .navbar-nav > li {
    margin: 0;
    padding: 0;
  }
  .navbar-nav li.menu-item-has-children > a {
    padding-right: 30px !important;
  }
  .navbar-nav > li > a {
    padding: 8px 20px;
    display: inline-block;
    width: 100%;
  }
  .sub-menu > li > a {
    padding-left: 40px;
  }
  .sub-menu .sub-menu > li > a {
    padding-left: 60px;
  }
  .sub-menu .sub-menu .sub-menu > li > a {
    padding-left: 80px;
  }

  .navbar-nav > li > a:after {
    bottom: 0;
  }
  /* navbar end*/

  /* push nav */

  .navbar-collapse {
    background: var(--white);
    position: fixed;
    top: 0;
    height: 100% !important;
    width: 290px;
    overflow-y: auto;
    transition: inherit !important;
    right: 0;
    margin: 0;
    display: block !important;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform 0.2s ease-in-out !important;
    transition: transform 0.2s ease-in-out !important;
    z-index: 100;
  }
  .navbar-collapse.show,
  .navbar-collapse.collapsing {
    display: block !important;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: transform 0.2s ease-in-out !important;
    transition: transform 0.2s ease-in-out !important;
  }
  .navbar-collapse .navbar-nav {
    margin: 80px 0 0 !important;
    padding: 0 0 40px 0;
  }
  .navbar-collapse .navbar-toggler {
    display: block;
    right: 20px;
    top: 20px;
    position: absolute;
  }
  #navoverlay.open {
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: all;
    -webkit-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
  }
  body.open-nav,
  html.open-nav {
    height: 100%;
    overflow: hidden !important;
  }
  /* push nav end */
}

@media (max-width: 767px) {
  /* images alignment for wordpress content pages */
  .alignright,
  .alignleft,
  .aligncenter {
    float: none;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    clear: both;
    margin-bottom: 24px;
  }
}

@media (max-width: 575px) {
}

@media (max-width: 479px) {
}

@media (max-width: 374px) {
}
