@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,700&display=swap');

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: -moz-linear-gradient(left, rgb(4, 12, 20) 0%, rgba(17, 44, 70, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(4, 12, 20, 1)), color-stop(100%, rgba(17, 44, 70, 1)));
    background: -webkit-linear-gradient(left, rgba(4, 12, 20, 1) 0%, rgba(17, 44, 70, 1) 100%);
    background: -o-linear-gradient(left, rgba(4, 12, 20, 1) 0%, rgba(17, 44, 70, 1) 100%);
    background: -ms-linear-gradient(left, rgba(4, 12, 20, 1) 0%, rgba(17, 44, 70, 1) 100%);
    background: linear-gradient(to right, rgba(4, 12, 20, 1) 0%, rgba(17, 44, 70, 1) 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body.loaded {
    overflow: auto !important;
    height: auto !important;
    min-height: unset !important;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #f85857;
}

a:hover {
    color: #ffff;
}

p {
    margin: 0;
    font-size: inherit;
    color: inherit;
    line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 600;
    color: inherit;
    margin-bottom: .5rem;
}

a,
button,
input,
svg {
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

a,
button,
input[type="submit"] {
    cursor: pointer;
}

ul {
    list-style: none;
}

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

.main_wrapper {
    min-height: 100vh;
    padding-top: 6rem;
}

.container {
    position: relative;
}

.container_inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.node_grid {
    max-width: 50%;
    overflow: hidden;
    flex: 0 0 50%;
    padding: 0 1.5rem 1rem;
}

.data_box {
    display: block;
    max-width: 100%;
    width: 100%;
    min-width: 120px;
    position: relative;
    padding: 2.5rem 1.2rem 2rem;
    min-height: 22vh;
    background: rgb(23, 55, 90);
    background: -moz-linear-gradient(331deg, rgba(23, 55, 90, 1) 35%, rgba(35, 46, 56, 1) 100%);
    background: -webkit-linear-gradient(331deg, rgba(23, 55, 90, 1) 35%, rgba(35, 46, 56, 1) 100%);
    background: linear-gradient(331deg, rgba(23, 55, 90, 1) 35%, rgba(35, 46, 56, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#17375a", endColorstr="#232e38", GradientType=1);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#17375a", endColorstr="#232e38", GradientType=1);
}

.data_box h2 {
    color: #f85857;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.data_box h1 {
    font-size: 3rem;
}

.data_box p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin-bottom: 0;
    font-weight: 300;
}

.data_box p+p {
    margin-top: 0.4rem;
}

.inner_title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#node_headline {
    margin-right: 0.2rem;
}

@keyframes glow {
    from {
        box-shadow: 0 0 0 0 #f85857;
    }

    to {
        box-shadow: 0 0 8px 4px #f85857;
    }
}

@-webkit-keyframes glow {
    from {
        box-shadow: 0 0 0 0 #f85857;
    }

    to {
        box-shadow: 0 0 8px 4px #f85857;
    }
}

@-moz-keyframes glow {
    from {
        box-shadow: 0 0 0 0px #f85857;
    }

    to {
        box-shadow: 0 0 8px 4px #f85857;
    }
}

@-ms-keyframes glow {
    from {
        box-shadow: 0 0 0 0 #f85857;
    }

    to {
        box-shadow: 0 0 8px 4px #f85857;
    }
}

@-o-keyframes glow {
    from {
        box-shadow: 0 0 0 0 #f85857;
    }

    to {
        box-shadow: 0 0 8px 4px #f85857;
    }
}

.sl_count {
    position: absolute;
    bottom: 100%;
    font-size: 22px;
    font-weight: 700;
    left: 0;
    background-color: #17375a;
    padding: 1rem 2rem 0.5rem;
    overflow: hidden;
}

.sl_count svg {
    width: 60px;
    height: 40px;
}

.sl_control {
    position: absolute;
    bottom: 100%;
    font-size: 0;
    left: 8rem;
    padding: 0.5rem 0.25rem;
}

.sl_btn {
    background-color: transparent;
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none;
    padding: 0.5rem;
    margin: 0 0.25rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.sl_btn.disable {
    opacity: 0.4;
    pointer-events: none;
}

.sl_btn.hide {
    visibility: hidden;
}

.sl_btn:hover,
.sl_btn:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.sl_btn svg {
    height: 20px;
    width: 20px;
    fill: #fff;
    opacity: 0.5;
    pointer-events: none;
}

.sl_btn:active svg,
.sl_btn:hover svg {
    opacity: 1;
}

.glow {
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    background: radial-gradient(circle, rgba(17, 44, 70, 0) 0%, rgba(17, 44, 70, 0) 15%, rgba(4, 12, 20, 0.85) 100%);
}

.tooltip {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    background-color: #000b15;
    letter-spacing: 1px;
    text-align: left;
    pointer-events: none;
    letter-spacing: 1px;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    -moz-border-radius: 0px 5px 5px 5px;
    -ms-border-radius: 0px 5px 5px 5px;
    -o-border-radius: 0px 5px 5px 5px;
    padding: 10px 10px 10px 35px;
    opacity: 0;
}

.tooltip:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #f85857;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.tooltip.open:after {
    -webkit-animation: glow 1.5s ease infinite alternate;
    -moz-animation: glow 1.5s ease infinite alternate;
    animation: glow 1.5s ease infinite alternate;
}

button.nav_btn {
    position: fixed;
    top: 0;
    right: 0;
    width: 22px;
    padding: 0;
    margin: 1.2rem 2rem;
    height: 20px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    z-index: 999999;
    pointer-events: all;
}

.nav_btn span {
    height: 0px;
    border: 1.5px solid #fff;
    width: 22px;
    display: block;
    position: absolute;
    left: 0;
    background: #fff;
    transition: all .25s linear;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
}

button.nav_btn:hover span:nth-child(3):before {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #F26451;
}

button.nav_btn:hover span {
    border: 2px solid #fff;
    height: 9px;
    border-radius: 50%;
    margin-left: -1px;
    margin-top: 2px;
    animation: atom .25s linear 1;
    -webkit-animation: atom .25s linear 1;
    width: 25px;
    top: 0px;
    background: transparent;
}

button.nav_btn.active,
button.nav_btn:focus {
    outline: 0px;
}

.nav_btn span:nth-child(1) {
    top: 0px;
}

.nav_btn span:nth-child(2) {
    top: 8px;
}

.nav_btn span:nth-child(3) {
    top: 16px;
}

.nav_btn span:nth-child(3):before {
    opacity: 0;
    animation: ball 1.5s linear infinite;
    -webkit-animation: ball 1.5s linear infinite;
    content: '';
    border: 2px solid #fff;
    display: block;
    position: relative;
    top: 0.25px;
}

button.nav_btn:hover span:nth-child(1) {
    transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
}

button.nav_btn:hover span:nth-child(2) {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

button.nav_btn:hover span:nth-child(3) {
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}

button.nav_btn:hover span:nth-child(3):before {
    opacity: 1;
    transition: opacity .6s linear;
    -webkit-transition: opacity .6s linear;
    -moz-transition: opacity .6s linear;
    -ms-transition: opacity .6s linear;
    -o-transition: opacity .6s linear;
}

button.nav_btn:active:hover span:nth-child(3):before,
button.nav_btn:active span:nth-child(3):before,
button.nav_btn:active span:nth-child(2),
button.nav_btn.active:hover span:nth-child(3):before,
button.nav_btn.active span:nth-child(3):before,
button.nav_btn.active span:nth-child(2) {
    opacity: 0;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

button.nav_btn.active span,
button.nav_btn:active span {
    border: 1.5px solid #fff;
    height: 0px;
    border-radius: 0%;
    margin-left: -1px;
    margin-top: 6px;
    animation: division 300ms linear 1;
    -webkit-animation: division 300ms linear 1;
    width: 25px;
    top: 0px;
}

button.nav_btn.active span:nth-child(2),
button.nav_btn:active span:nth-child(2) {
    width: 0px;
}

button.nav_btn.active span:nth-child(3),
button.nav_btn:active span:nth-child(3) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

button.nav_btn.active span:nth-child(1),
button.nav_btn:active span:nth-child(1) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

@keyframes atom {
    0% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
}

@-webkit-keyframes atom {
    0% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
}

@-moz-keyframes atom {
    0% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
}

@keyframes division {
    0% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
}

@-webkit-keyframes division {
    0% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
}

@-moz-keyframes division {
    0% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
}

@keyframes ball {
    0% {
        left: -20%;
        top: 10%;
    }

    10% {
        left: 10%;
        top: -35%;
    }

    25% {
        left: 45%;
        top: -50%;
    }

    40% {
        left: 80%;
        top: -20%;
    }

    50% {
        left: 98%;
        top: 18%;
    }

    60% {
        left: 80%;
        top: 50%;
    }

    75% {
        left: 45%;
        top: 80%;
    }

    90% {
        left: 0%;
        top: 60%;
    }

    100% {
        left: -20%;
        top: 10%;
    }
}

@-webkit-keyframes ball {
    0% {
        left: -20%;
        top: 10%;
    }

    10% {
        left: 10%;
        top: -35%;
    }

    25% {
        left: 45%;
        top: -50%;
    }

    40% {
        left: 80%;
        top: -20%;
    }

    50% {
        left: 98%;
        top: 18%;
    }

    60% {
        left: 80%;
        top: 50%;
    }

    75% {
        left: 45%;
        top: 80%;
    }

    90% {
        left: 0%;
        top: 60%;
    }

    100% {
        left: -20%;
        top: 10%;
    }
}

@-moz-keyframes ball {
    0% {
        left: -20%;
        top: 10%;
    }

    10% {
        left: 10%;
        top: -35%;
    }

    25% {
        left: 45%;
        top: -50%;
    }

    40% {
        left: 80%;
        top: -20%;
    }

    50% {
        left: 98%;
        top: 18%;
    }

    60% {
        left: 80%;
        top: 50%;
    }

    75% {
        left: 45%;
        top: 80%;
    }

    90% {
        left: 0%;
        top: 60%;
    }

    100% {
        left: -20%;
        top: 10%;
    }
}

.navigation {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-align: right;
    position: relative;
}

.circle_anim {
    position: fixed;
    right: 0px;
    top: 5px;
    width: 0px;
    height: 0px;
    z-index: 111;
    background-color: #f85857;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.3);
}

.circle_anim:after {
    content: "";
    position: absolute;
    right: 0;
    top: -15px;
    height: 100%;
    width: 100%;
    background-color: #050e17;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: 0.60s;
    -webkit-transition-delay: 0.60s;
    border-radius: 0 0 0 100%;
    -webkit-border-radius: 0 0 0 100%;
    -moz-border-radius: 0 0 0 100%;
    -ms-border-radius: 0 0 0 100%;
    -o-border-radius: 0 0 0 100%;
}

.sub-menu {
    display: block;
    position: absolute;
    right: 2rem;
    top: 0;
    z-index: 150;
    padding: 0;
    margin: 4rem 0 0;
    pointer-events: none;
}

.sub-menu.active {
    pointer-events: all;
}

.sub-menu li {
    position: relative;
    visibility: hidden;
    left: -15px;
    opacity: 0;
}

.sub-menu a {
    color: #ffffff;
    margin-bottom: 1.2rem;
    position: relative;
    right: 0;
    font-size: 2rem
}

.sub-menu a:hover {
    color: #f85857;
    right: 3px;
}

.page_title {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    font-size: 2.25rem;
    line-height: normal;
    margin: 0.2rem 1.5rem;
    color: #fff;
    z-index: 2;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

.page_title.active {
    font-size: 1.75rem;
}

.close_icon {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    stroke: #fff;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    z-index: 8;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.close_icon:hover {
    background: rgba(0, 0, 0, 0.3);
}

.close_icon svg .circle {
    opacity: 0.2;
}

.close_icon svg .progress {
    opacity: 0;
    stroke-dasharray: 0, 120;
    transition: 0.5s cubic-bezier(0.165, 0.775, 0.145, 1.020);
    -webkit-transition: 0.5s cubic-bezier(0.165, 0.775, 0.145, 1.020);
    -moz-transition: 0.5s cubic-bezier(0.165, 0.775, 0.145, 1.020);
    -ms-transition: 0.5s cubic-bezier(0.165, 0.775, 0.145, 1.020);
    -o-transition: 0.5s cubic-bezier(0.165, 0.775, 0.145, 1.020);
}

.close_icon:hover svg .progress,
.close_icon:active svg .progress,
.close_icon:focus svg .progress {
    stroke-dasharray: 120, 120;
    opacity: 1;
}

.close_icon:hover svg .cross,
.close_icon:active svg .cross .close_icon:focus svg .cross {
    stroke: #f85857;
}

/*--scroll--*/
.nicescroll-rails {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
}

.nicescroll-cursors {
    border: none !important;
    background-color: #f05757 !important;
    border-radius: 0 !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.nicescroll-rails,
.nicescroll-cursors {
    width: 4px !important;
}

.hideIt {
    display: none !important;
}

/*--end scroll--*/

#unsupported {
    display: none;
}

.warning {
    background-color: #3c3c3c;
    margin: 2rem 4rem;
    padding: 1rem;
    border: 0.1rem solid #F26451;
    line-height: 1.5rem;
    font-size: 0.8rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}


/*----------------*/
.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: -0.5rem;
    width: 100%;
}

.col {
    width: calc(50% - 2rem);
    margin: 0.5rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.col.active {
    z-index: 10;
}

.col_container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: relative;
}

.front,
.back {
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
    display: block;
}

.back {
    background: rgb(15, 50, 82);
    background: -moz-linear-gradient(125deg, rgba(15, 50, 82, 1) 35%, rgba(36, 66, 94, 1) 100%);
    background: -webkit-linear-gradient(125deg, rgba(15, 50, 82, 1) 35%, rgba(36, 66, 94, 1) 100%);
    background: linear-gradient(125deg, rgba(15, 50, 82, 1) 35%, rgba(36, 66, 94, 1) 100%);
    filter:
        progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3252", endColorstr="#24425e", GradientType=1);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3252", endColorstr="#24425e", GradientType=1);
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #24425e;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.col_container:hover .front,
.col_container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    transform: translateZ(60px) scale(0.94);
    -webkit-transform: translateZ(60px) scale(0.94);
    -moz-transform: translateZ(60px) scale(0.94);
    -ms-transform: translateZ(60px) scale(0.94);
    -o-transform: translateZ(60px) scale(0.94);
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1.5rem 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.col_container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
}

.col_container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.col_container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.col_container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner h2 {
    margin-bottom: 0rem;
    color: #f85857;
    font-size: 1rem;
    position: relative;
}

.front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}

@media screen and (max-width: 48rem) {}

/*---end---*/
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 20;
}

/* .anim_box {
    position: relative;
    opacity: 0;
} */
.back .inner {
    text-align: center
}

/* .back .inner {
    top: 0;
    padding: 11% 2rem 2rem;
} */

.el_canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

#test {
    margin-top: 60px;
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 55555555555;
}

.modal {
    position: absolute !important;
    background: rgb(15, 50, 82);
    background: -moz-linear-gradient(125deg, rgba(15, 50, 82, 1) 35%, rgba(36, 66, 94, 1) 100%);
    background: -webkit-linear-gradient(125deg, rgba(15, 50, 82, 1) 35%, rgba(36, 66, 94, 1) 100%);
    background: linear-gradient(125deg, rgba(15, 50, 82, 1) 35%, rgba(36, 66, 94, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3252", endColorstr="#24425e", GradientType=1);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f3252", endColorstr="#24425e", GradientType=1);
    padding: 4rem;
}