body {
  font-size: 16px;
  line-height: 24px;
  color: #363636;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #000;
}

* {
  box-sizing: border-box;
}

svg {
  width: 100%;
}