:root {
  --black: #000000;
  --white: #ffffff;
  --bodyTxt: #adc2f4;
  --themeColor: #2dcafe;
  --darkBlue: #091a73;
  --nrmlblue: #007eff;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  font-weight: 500;
  font-style: normal;
  color: var(--bodyTxt);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--black);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: top center;
}

/*-- full page, one scroll --*/
body:not(.visible),
html:not(.visible) {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}
html.w-mod-touch * {
  background-attachment: scroll !important;
}
.main {
  -webkit-transform-style: preserve-3d;
}
.main-wrapper {
  width: 100vw;
  height: 100vh;
}
.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.onepage-pagination {
  position: absolute;
  right: 75px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: opacity 0.3s ease;
}
.onepage-pagination.hidden {
  opacity: 0;
}
.onepage-pagination li {
  width: 0;
  height: 32px;
  border-left: 1px solid rgba(0, 128, 255, 0.5);
  flex: none;
  order: 3;
  flex-grow: 0;
  padding: 0;
  text-align: center;
}
.onepage-pagination li a {
  padding: 10px;
  width: 20px;
  height: 32px;
  display: block;
  position: relative;
  left: -9.8px;
}
.onepage-pagination li a:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
}
.onepage-pagination li a.active:before {
  background: rgba(0, 128, 255, 1);
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 50%;
  margin-top: -7.5px;
  left: 6px;
  width: 7px;
  height: 7px;
}
.section {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 118px 24px 50px;
  display: flex;
  position: relative;
  overflow: hidden;
}
section.in-view .container {
  animation: image_blur 2000ms;
  -webkit-animation: image_blur 2000ms;
  animation-fill-mode: forwards;
}
@keyframes image_blur {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}
@-webkit-keyframes image_blur {
  0% {
    -webkit-filter: blur(10px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}
section .container {
  position: relative;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media only screen and (min-width: 992px) {
  .section {
    max-height: 100vh;
  }
  .anim_1,
  .anim_2,
  .anim_3,
  .anim_4,
  .anim_5 {
    opacity: 0;
  }
  section.in-view .anim_1,
  section.in-view .anim_2,
  section.in-view .anim_3,
  section.in-view .anim_4,
  section.in-view .anim_5 {
    opacity: 1;
    animation: slide-in 500ms;
    animation-fill-mode: forwards;
  }
  section.in-view .anim_1 {
    opacity: 1;
    animation-delay: 1100s;
  }
  section.in-view .anim_2 {
    animation-delay: 1150ms;
  }
  section.in-view .anim_3 {
    animation-delay: 1200ms;
  }
}
/*--home page style end--*/
