@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,700&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: -moz-linear-gradient(left, rgb(4, 12, 20) 0%, rgba(17, 44, 70, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(4, 12, 20, 1)), color-stop(100%, rgba(17, 44, 70, 1)));
    background: -webkit-linear-gradient(left, rgba(4, 12, 20, 1) 0%, rgba(17, 44, 70, 1) 100%);
    background: -o-linear-gradient(left, rgba(4, 12, 20, 1) 0%, rgba(17, 44, 70, 1) 100%);
    background: -ms-linear-gradient(left, rgba(4, 12, 20, 1) 0%, rgba(17, 44, 70, 1) 100%);
    background: linear-gradient(to right, rgba(4, 12, 20, 1) 0%, rgba(17, 44, 70, 1) 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    overflow: hidden;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #f85857;
}

a:hover {
    color: #ffff;
}

p {
    margin: 0;
    font-size: inherit;
    color: inherit;
    line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 600;
    color: inherit;
    margin-bottom: .5rem;
}

a,
button,
input {
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

ul {
    list-style: none;
}

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

.data_box {
    position: absolute;
    margin: 5rem 2rem 2rem;
    z-index: 1;
    height: calc(100vh - 7rem);
    padding: 2rem;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
    background: #17375a;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    opacity: 0;
    width: 40%;
    top: 0;
    right: 0;
    pointer-events: all;
    overflow: hidden;
    transform: translateX(50vw);
    -webkit-transform: translateX(50vw);
    -moz-transform: translateX(50vw);
    -ms-transform: translateX(50vw);
    -o-transform: translateX(50vw);
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.data_box.active {
    opacity: 1;
    right: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.data_shape canvas {
    pointer-events: all !important;
    opacity: 0.7;
}

.data_box h2 {
    color: #f85857;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.data_box h1 {
    font-size: 3rem;
}

#node_description {
    overflow: auto;
    height: 165px;
    position: relative;
}

.data_box p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin-bottom: 0.4rem;
    font-weight: 300;
}

#node_shape {
    width: 180px;
    height: 180px;
    opacity: 0.8;
    margin-top: 1rem;
}

#node_shape canvas {
    pointer-events: all;
}

@keyframes glow {
    from {
        box-shadow: 0 0 0 0 #f85857;
    }

    to {
        box-shadow: 0 0 8px 4px #f85857;
    }
}

@-webkit-keyframes glow {
    from {
        box-shadow: 0 0 0 0 #f85857;
    }

    to {
        box-shadow: 0 0 8px 4px #f85857;
    }
}

@-moz-keyframes glow {
    from {
        box-shadow: 0 0 0 0px #f85857;
    }

    to {
        box-shadow: 0 0 8px 4px #f85857;
    }
}

@-ms-keyframes glow {
    from {
        box-shadow: 0 0 0 0 #f85857;
    }

    to {
        box-shadow: 0 0 8px 4px #f85857;
    }
}

@-o-keyframes glow {
    from {
        box-shadow: 0 0 0 0 #f85857;
    }

    to {
        box-shadow: 0 0 8px 4px #f85857;
    }
}

.glow {
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    /* background: radial-gradient(circle, rgba(17, 44, 70, 0.02) 0%, rgba(4, 12, 20, 0.7) 100%); */
    background: radial-gradient(circle, rgba(17, 44, 70, 0) 0%, rgba(17, 44, 70, 0) 25%, rgba(4, 12, 20, 0.85) 100%);
}

.tooltip {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    background-color: #000b15;
    letter-spacing: 1px;
    text-align: left;
    pointer-events: none;
    letter-spacing: 1px;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    -moz-border-radius: 0px 5px 5px 5px;
    -ms-border-radius: 0px 5px 5px 5px;
    -o-border-radius: 0px 5px 5px 5px;
    padding: 10px 10px 10px 35px;
    opacity: 0;
}

.tooltip:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #f85857;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.tooltip.open:after {
    -webkit-animation: glow 1.5s ease infinite alternate;
    -moz-animation: glow 1.5s ease infinite alternate;
    animation: glow 1.5s ease infinite alternate;
}

button.nav_btn {
    position: fixed;
    top: 0;
    right: 0;
    width: 25px;
    padding: 0;
    margin: 1.2rem 2rem;
    height: 20px;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    cursor: pointer;
    background: transparent;
    border: 0px;
    z-index: 999999;
    pointer-events: all;
}

.nav_btn span {
    height: 0px;
    border: 1.5px solid #fff;
    width: 22px;
    display: block;
    position: absolute;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    background: #fff;
}

button.nav_btn:hover {
    transition-delay: 100ms;
    transform: scale(1.1);
}

button.nav_btn:hover span:nth-child(3):before {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #F26451;
}

button.nav_btn:hover span {
    border: 2px solid #fff;
    height: 9px;
    border-radius: 50%;
    margin-left: -1px;
    margin-top: 2px;
    animation: atom 300ms linear 1;
    width: 25px;
    top: 0px;
    background: transparent;
}

button.nav_btn:focus {
    outline: 0px;
}

.nav_btn span:nth-child(1) {
    top: 0px;
}

.nav_btn span:nth-child(2) {
    top: 8px;
}

.nav_btn span:nth-child(3) {
    top: 16px;
}

.nav_btn span:nth-child(3):before {
    opacity: 0;
    animation: ball 1.5s linear infinite;
    content: '';
    border: 2px solid #fff;
    display: block;
    position: relative;
    top: 0.25px;
}

button.nav_btn:hover span:nth-child(1) {
    transform: rotate(-33deg);
}

button.nav_btn:hover span:nth-child(2) {
    transform: rotate(90deg);
}

button.nav_btn:hover span:nth-child(3) {
    transform: rotate(33deg);
}

button.nav_btn:hover span:nth-child(3):before {
    opacity: 1;
    transition: opacity 600ms cubic-bezier(.61, .01, .42, 1);
    ;
}

button.nav_btn:active:hover span:nth-child(3):before,
button.nav_btn:active span:nth-child(3):before,
button.nav_btn:active span:nth-child(2) {
    opacity: 0;
    transition: all 200ms;
}

button.nav_btn:active span {
    border: 1.5px solid #fff;
    height: 0px;
    border-radius: 0%;
    margin-left: -1px;
    margin-top: 6px;
    animation: division 300ms linear 1;
    width: 25px;
    top: 0px;
}

button.nav_btn:active span:nth-child(2) {
    width: 0px;
}

button.nav_btn:active span:nth-child(3) {
    transform: rotate(45deg);
}

button.nav_btn:active span:nth-child(1) {
    transform: rotate(-45deg);
}

@keyframes atom {
    0% {
        transform: rotate(180deg);
    }
}

@keyframes division {
    0% {
        transform: rotate(180deg);
    }
}

@keyframes ball {
    0% {
        left: -20%;
        top: 10%;
    }

    10% {
        left: 10%;
        top: -35%;
    }

    25% {
        left: 45%;
        top: -50%;
    }

    40% {
        left: 80%;
        top: -20%;
    }

    50% {
        left: 98%;
        top: 18%;
    }

    60% {
        left: 80%;
        top: 50%;
    }

    75% {
        left: 45%;
        top: 80%;
    }

    90% {
        left: 0%;
        top: 60%;
    }

    100% {
        left: -20%;
        top: 10%;
    }
}

.navigation {
    position: fixed;
    top: 0px;
    right: 0;
    padding: 1.2rem 2rem;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-align: right;
    height: calc(100vh - 40px);
    transition: opacity 0.2s linear;
    z-index: 999;
    pointer-events: none;
}

.sub-menu {
    height: 0;
    width: 0;
    right: 2rem;
    top: 2rem;
    position: absolute;
    background-color: #f85857;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.3);
    z-index: 18;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    pointer-events: all;
}

.sub-menu:after {
    content: "";
    position: absolute;
    right: 2rem;
    top: -2rem;
    right: 0;
    height: 0;
    width: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
    background-color: #050e17;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: 0.60s;
    -webkit-transition-delay: 0.60s;

}


.sub-menu li {
    display: block;
    float: right;
    clear: both;
    height: auto;
    margin-right: -60vh;
    transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 1;
    position: relative;
    opacity: 0;
}

.sub-menu li:first-child {
    padding-top: 5rem;
    margin-top: 60vh;
}

.sub-menu li:nth-child(1) {
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
}

.sub-menu li:nth-child(2) {
    transition-delay: 1.4s;
    -webkit-transition-delay: 1.4s;
}

.sub-menu li:nth-child(3) {
    transition-delay: 1.8s;
    -webkit-transition-delay: 1.8s;
}

.sub-menu li:nth-child(4) {
    transition-delay: 2.2s;
    -webkit-transition-delay: 2.2s;
}

.sub-menu li:nth-child(5) {
    transition-delay: 2.6s;
    -webkit-transition-delay: 2.6s;
}

.sub-menu a {
    color: #ffffff;
    margin-bottom: 12px;
    position: relative;
    right: 0;
}

.sub-menu a:hover {
    color: #f85857;
    right: 3px;
}

.oppenned .sub-menu {
    opacity: 1;
    height: 120vh;
    width: 120vh;
    top: -60vh;
    right: -60vh;
}

.oppenned .sub-menu:after {
    height: 120vh;
    width: 120vh;
    top: -2rem;
    right: 0;
    opacity: 1;
}

.oppenned .sub-menu li {
    margin-right: 2rem;
    padding-right: 60vh;
    opacity: 1;
}

.page_title {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    font-size: 2.25rem;
    line-height: normal;
    margin: 0.2rem 1.5rem;
    color: #fff;
    z-index: 2;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

.page_title.active {
    font-size: 1.75rem;
}

.close_icon {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    stroke: #fff;
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 8;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.close_icon:hover {
    background: rgba(0, 0, 0, 0.3);
}

.close_icon svg .circle {
    opacity: 0.2;
}

.close_icon svg .progress {
    opacity: 0;
    stroke-dasharray: 0, 120;
    transition: 0.5s cubic-bezier(0.165, 0.775, 0.145, 1.020);
}

.close_icon:hover svg .progress,
.close_icon:active svg .progress,
.close_icon:focus svg .progress {
    stroke-dasharray: 120, 120;
    opacity: 1;
}

.close_icon:hover svg .cross,
.close_icon:active svg .cross .close_icon:focus svg .cross {
    stroke: #f85857;
}

#canvas {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main_wrapper {
    min-height: 100vh;
    min-width: 100vw;
    opacity: 0;
}

/*--loader--*/
.preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    overflow: hidden;
    width: 100vw;
    height: 100vh !important;
}

.loader_title {
    color: hsla(0, 0%, 100%, .3);
    line-height: normal;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.loader_title.animate {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


.loader_title:before {
    content: attr(data-content);
    position: absolute;
    overflow: hidden;
    line-height: normal;
    max-width: 100%;
    color: #fff;
    animation: loading 10s linear infinite alternate;
    -webkit-animation: loading 10s linear infinite alternate;
}

@keyframes loading {
    from {
        max-width: 0;
    }
}

/*--END--loader--*/

/*--scroll--*/
.nicescroll-rails {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.nicescroll-cursors {
    border: none !important;
    background-color: #f05757 !important;
    border-radius: 0 !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/*--end scroll--*/

#canvas:after {
    content: "";
    position: absolute;
    top: 0;

}